*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

@font-face {
    font-family: genera;
    src: url(../font/Genera.ttf);
    font-family: generaLight;
    src: url(../font/Genera-AltLight.ttf);
}

.partTwo{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 200px;
}
.contain{
    width: 100%;
    height: 100vh;
    background-color:rgb(240 248 255);
    position: relative;
    display: flex;
    align-items: center;

}
.contain-items{
    display: flex;
    gap: 25px;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: all 400ms ease;
    padding: 30px 0px;

}

.partTwo .titulo{
    position: relative;
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: rgb(240 248 255);
    
}

.tarjeta{
    border-radius: 10px 10px 10px 10px;
    min-width: 400px;
    max-width: 400px;
    height: 350px;
    background-color: rgb(255 255 255);
    box-shadow: 10px 15px 30px 15px rgb(217, 223, 240);
    cursor: default;
    object-fit: cover;

}
.tarjeta:hover{

    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
    transform: scale(1.2);
}

.partTwo .imagen{
    width: 40%;
    height: 40%;
    padding: 10px;
    
}

.imagen-item{
    width: 100%;
    height: 150%;
    display: flex;
    position: relative;
    justify-content: center;
    top: 80px;
    left: 25px;
    transition: all 400ms ease;

    
}

.partTwo h5{
    text-align: left;
    font-size: 1.3rem;
    color: #121158;
    padding: .5rem;
    font-family: genera;
    
}

.partTwo .titulo h5{
    font-size: 1rem;
    color: #121158;
    padding: .5rem;
    font-family: genera;
}

.partTwo h1{
    text-align: center;
    font-size: 3rem;
    font-family: genera;
    color: #121158c0;
}

.partTwo p{
    color: #515184;
    padding: .4rem;
    font-family: generaLight;
    font-weight: bold;
    
}
