/* ---------------- Clases  part Eight --------------- */
.partEight {
    width: 100%;
    height: 130vh;
    position: relative;
    font-family: 'Poppins', sans-serif;
}
.text-partEight {
    position: absolute;
    color: #293f73;
    text-align: center;
    left: 35%;
    top: 10%;
}
.titule-partEight {
    top: 10%;
    font-size: 3.5em;
    font-weight: 150px;
    margin-bottom: 30px;
    
    
}
.img-partEigh  {
    display: flex;
    flex-direction: row;
    width: 330px; 
    margin-right: 30px;
}


.img-partEigh img {
    width: 400px;
    padding: 15px;
    margin-left: 40%;
    margin-top: 80%; 
    
}
.blog-img img:hover {
    filter: grayscale(50%);
    
}

.items-blog  {
   
    position: relative;

} 
.items-blog div h3 {
    margin-top: 5%;
}
.items-blog div a{
    text-decoration: none;
} 
.items-blog div h3 a{
    color: #121158;
    font-size: 1.3em;
    text-decoration: none;
} 


.items-blog-1 {
    position: absolute;
    left: 11%;   
}
.items-blog-1 h3 {
    
    left: 11%; 
    top: 50%;  
}

.items-blog-2 {
    position: absolute;
    left: 38%;
}
.items-blog-3 {
    position: absolute;
    left: 64%;
}
.items-blog-date {
    color: #b8b8b8;
    margin-left: 4%; 

}


.continue {
    position: absolute;
    top: 140%;
    left: 2%;
    text-decoration: underline;
    color: #2d2f91;
}


/* ---------------- end Clases  part Eight --------------- */