*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    /* outline: 4px black solid;  */
}

:root{
    --azulOscuro:rgb(23, 17, 135);
    --azulClaro:rgb(5,151,183);
}

.partOne{
    
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    
}
.partOne::before{
    content:"";
    display:block;
    position:absolute;
    background-image: linear-gradient(to right, rgb(23, 17, 135,0.7), rgb(0, 247, 255,0.7)), url("../img/fondo.jpg");
    background-size: cover;
    background-position-y: 57%;
    width:100%;
    height:100%;
    z-index:-1;

}



header{
    width: 100%;
    color: black;
    grid-column-start: 1;
    grid-column-end: -1;
    height: 20vh;
    z-index: 1;
    
    
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    
    

}

.logoCovidMap{
    display: flex;
    margin-left: 7%;
}

.logoCovidMap img{
    height: 6vh;
    left: 10%;
}




nav ul{
    display: flex;
    position: relative;
    list-style: none;
    right: 8%;

}

nav ul li{
    display: flex;
    padding-left: 4em;
    
}
a.opc {
    display: flex;
    color: white;
    font-size: 1em;
    align-items: center;
    justify-content: center;
}

a.opcT{
    display: flex;
    border: 1px blue solid;
    background-color: var(--azulOscuro);
    border-radius:20px;
    height: 2.5em;
    width: 10em;
    align-items: center;
    justify-content: center;
}



section{
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    color: white;
}


.titule-sectionOne{
    position: absolute;
    top:20vh;
    left: 7%;
    font-size: 4.2em;


}

.p-sectionOne {
    position: absolute;
    top: 60vh;
    left: 7%;
    font-size: 1em;

}
.report {
    position: absolute;
    width: 315px;
    height: 75px;
    top:80vh;
    left: 7%;
    border-radius: 5px;
    max-width: 350px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fff;


}

.data-cases {
    
    position: absolute;
    margin-top: 3%;
    margin-left: 65%;
    color: red;
    font-size: x-large;
}

.data-active{
    position: absolute;
    
    width: 50px;
    height: 20px;
    margin-top: 14%;
    margin-left: 60%;
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 3px; /*espacio alrededor texto*/  
    background-color: #ffc33e;
    border-radius: 1px; /*bordes redondos*/
    font-size: small;
}

.date-recovered {
    position: absolute;
    width: 50px;
    height: 20px;
    margin-top: 14%;
    margin-left: 79%;/*anchura, estilo y color borde*/
    padding: 3px; /*espacio alrededor texto*/
    background-color: #10d876 !important;
    border-radius: 2px; /*bordes redondos*/
    font-size: small;
}
    

aside{
    display: flex;
    height: 80vh;
}

.divMuñeca{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.divMuñeca img{
    height: 100%;
    width: 50%;
}












@media(max-width:740px){

    .partOne{
        width: 100%;
        height: max-content;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;   
        position: relative;

    }
    .partOne::before{
        content:"";
        display:block;
        position:absolute;
        background-image: linear-gradient(to right, rgb(23, 17, 135,0.7), rgb(0, 247, 255,0.7)), url("../img/fondo.jpg");
        background-size: cover;
        background-position-y: 57%;
        width:100%;
        height:100%;
        z-index:-1;
    
    }

    header{

        grid-column-start: 1;
        grid-column-end: -1;
        z-index: 1;
        
    }

    
    nav ul{

        display: none;
    }
    
    section{
        display: flex;
        grid-column-start: 1;
        grid-column-end: -1;

    }

    .titule-sectionOne{
        position: absolute;
        top:20vh;
        left: 7%;
        font-size: 3em;
    
    }
    
    .p-sectionOne {
        position: absolute;
        top: 52vh;
        left: 7%;
        font-size: 1em;
    
    }

    .report {
        position: absolute;
        width: 315px;
        height: 75px;
        top:72vh;
        left: 7%;
        background-color: white;
        border-radius: 5px;
    }
    
    .asideOne{
        
        grid-column-start: 1;
        grid-column-end: -1;
        height: max-content;
        
    }

    .divMuñeca{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        
        
    }
    .divMuñeca img{
        height:100%;
        
        
    }
    

}




